<!DOCTYPE html>
<html>
    <body>
        <h1><a href="/">DnD Discord Bot Online</a></h1>
        <a href="/basic">Basic Roller</a><br /><a href="/advanced"
            >Advanced Roller</a
        ><br />
        <a href="/e">Create error</a><br />
        <%-include(`./pages/${locals.page}`)%>
    </body>
</html>
