<!DOCTYPE html>
<html>
    <body>
        <h1><a href="/">DnD Discord Bot Online</a></h1>
        <a href="/basic">Basic Roller</a><br /><a href="/advanced"
            >Advanced Roller</a
        >
        <%-include(`./pages/${page}`)%>
    </body>
</html>
