<!DOCTYPE html>
<html>
    <header>
        <h1><a href="/">DnD Discord Bot Online</a></h1>
        <nav>
            <a href="/basic">Basic Roller</a>
            <a href="/advanced">Advanced Roller</a>
            <a href="/e">Create error</a>
        </nav>
    </header>

    <body>
        <%-include(`./pages/${locals.page}`)%>
    </body>
</html>
